<div class="body">

    <div class="bookGrid" fxLayout="row" fxLayoutAlign="start start">

        <div class="livroCapa" fxFlex="20">
            <a href="" class="capa" matTooltip="Nome do livro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa">
                <img src="../../../assets/img/BookRed.png" width="150" height="200">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip class="chipLido">Lido</mat-chip>
                </mat-chip-list>
                <p>Nome do livro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </a> 
        </div>

        <div class="livroCapa" fxFlex="20">
            <a href="" class="capa" matTooltip="Nome do livro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa">
                <img src="../../../assets/img/BookRed.png" width="150" height="200">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip class="chipLido">Lido</mat-chip>
                </mat-chip-list>
                <p>Nome do livro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </a> 
        </div>

        <div class="livroCapa" fxFlex="20">
            <a href="" class="capa" matTooltip="Nome do livro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa">
                <img src="../../../assets/img/BookRed.png" width="150" height="200">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip class="chipLido">Lido</mat-chip>
                </mat-chip-list>
                <p>Nome do livro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </a> 
        </div>

        <div class="livroCapa" fxFlex="20">
            <a href="" class="capa" matTooltip="Nome do livro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa">
                <img src="../../../assets/img/BookRed.png" width="150" height="200">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip class="chipLido">Lido</mat-chip>
                </mat-chip-list>
                <p>Nome do livro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </a> 
        </div>

        <div class="livroCapa" fxFlex="20">
            <a href="" class="capa" matTooltip="Nome do livro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa">
                <img src="../../../assets/img/BookRed.png" width="150" height="200">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip class="chipLido">Lido</mat-chip>
                </mat-chip-list>
                <p>Nome do livro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
            </a> 
        </div>

    </div>      

    
    
</div>