.body{
    display: flex;
    text-align: -webkit-center;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: #365897;
    background-color: #7ba0e6;
    background-color: #3eacd8;
    background-color: #47b127;
    background-color: #ce5632;
    background-color: #7710b3;
    background-color: #5b5b5c;
}

.buttons{
    margin: 10px;

    button{
        background-color: #7ba0e6;
        background-color: #3eacd8;
        background-color: #47b127;
        background-color: #ce5632;
        background-color: #7710b3;
        background-color: #5b5b5c;
        color: white;
        margin: 5px;
        width: 100px;
    }
}

a{
    margin-top: 15px;
    color:#365897;
    color:#7ba0e6;
    color:#3eacd8;
    color:#47b127;
    color:#ce5632;
    color:#7710b3;
    color:#5b5b5c;
}

form{
    margin-bottom: 40px;
}

.menu{
    width: 350px;
    height: 60vh;

    display: flex;
    align-items: center;
}