<div class="body">
    <mat-card class="menu">
        <mat-card-content>

            <h1>SilverFish</h1>

            <form class="auth" fxLayout="column" >
                <mat-form-field fxFlex="100" class="example-full-width" appearance="outline">
                    <mat-label>Login</mat-label>
                    <input matInput required>
                    <mat-error>Login é obrigatório</mat-error>
                </mat-form-field> 

                <mat-form-field fxFlex="100" class="example-full-width" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput required>
                    <mat-error>Senha é obrigatório</mat-error>
                </mat-form-field> 

                <div class="buttons" fxFlex="100"> 
                    <button mat-raised-button color="primary">
                        Entrar
                    </button>

                    <button mat-stroked-button color="primary" form="none">
                        Cadastrar
                    </button>
                </div>
                

            </form>

            <a href="">Esqueci minha senha</a>
        </mat-card-content>
    </mat-card>
</div>
    
