<div class="body">
    <mat-card class="menu" fxLayout="column">

        <mat-card-content fxFlex="100">

            <img src="../../../assets/img/sf_logo.png" width="75" height="75">
            <h1>SilverFish</h1>

            <form class="auth" fxLayout="column" [formGroup]="loginForm">

                <mat-form-field fxFlex="100" class="example-full-width" appearance="outline">
                    <mat-label>Login</mat-label>
                    <input matInput required formControlName="login">
                    <mat-error>Login é obrigatório</mat-error>
                </mat-form-field> 

                <mat-form-field fxFlex="100" class="example-full-width" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input type="password" matInput required formControlName="password">
                    <mat-error>Senha é obrigatório</mat-error>
                </mat-form-field> 

                <div class="buttons" fxFlex="100"> 

                    <button class="enter" fxFlex="100" (click)="login(loginForm)"
                            mat-raised-button color="primary">
                        Entrar
                    </button>

                    <a button class="signup" mat-stroked-button 
                        routerLink="/auth/signup" fxFlex="100"
                        color="primary" form="none">
                        Cadastrar
                    </a>

                </div>
                
            </form>

            <a class="forgot" routerLink="/auth/recovery">Esqueci minha senha</a>
        </mat-card-content>
    </mat-card>
</div>
    
