<mat-table [dataSource]="dataSourceLivros" class="mat-elevation-z8">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef fxFlex="10"> Id </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="10"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- ISBN Column -->
  <ng-container matColumnDef="isbn">
    <mat-header-cell *matHeaderCellDef fxFlex="20"> ISBN </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="20"> {{element.isbn}} </mat-cell>
  </ng-container>

  <!-- Titulo Column -->
  <ng-container matColumnDef="titulo">
    <mat-header-cell *matHeaderCellDef fxFlex="40"> Título </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="40"> {{element.titulo}} </mat-cell>
  </ng-container>

  <!-- Volume Column -->
  <ng-container matColumnDef="volume">
    <mat-header-cell *matHeaderCellDef fxFlex="10"> Volume </mat-header-cell>
    <mat-cell *matCellDef="let element" fxFlex="10"> {{element.volume}} </mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell class="centerColumn" *matHeaderCellDef fxFlex="20" fxLayoutAlign="center center"> Ações </mat-header-cell>
    <mat-cell class="centerColumn" *matCellDef="let element" fxFlex="20" fxLayoutAlign="center center">
      
      <button class="tableButton" (click)="openDialogLivro('update', element)" mat-button>
          <mat-icon>edit</mat-icon>
      </button>

      <button class="tableButton" (click)="openDialogLivro('delete', element)" mat-button>
          <mat-icon>delete</mat-icon>
      </button>

      </mat-cell>
  </ng-container>
  <mat-header-row @rowsAnimation *matHeaderRowDef="displayedColumnsLivros"></mat-header-row>
  <mat-row @rowsAnimation *matRowDef="let row; columns: displayedColumnsLivros;"></mat-row>
</mat-table>
  <mat-paginator  [pageSizeOptions]="[5, 10]"
                  showFirstLastButtons >
  </mat-paginator>
<div class="buttons" fxLayout="row" fxLayoutAlign="end center">
  <button class="add" (click)="openDialogLivro('create', null)" mat-raised-button>
      Adicionar novo livro
  </button>
</div>
