.body{
    height: 100%;
}

.footer{
    height: 50px;
}

.toolBar{
    margin-top: 25px;
    background-color:  #7ba0e6;
    color:white;
    height: 60px;
}

.toolBarItem{
    background: none;
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
}

.toolBarItem:hover{
    cursor: pointer;
    background: #00000023;
    padding-right: 10px;
}