<div class="body">

    <mat-toolbar class="toolBar" color="primary" fxLayout="row">

        <div class="toolBarItem" fxLayoutAlign="start center">
            Todos os livros
        </div>
        <div class="toolBarItem" fxLayoutAlign="start center">
            Mais lidos
        </div>
        <div class="toolBarItem" fxLayoutAlign="start center">
            Livros Por Gênero
        </div>
        <div class="toolBarItem" fxLayoutAlign="start center">
            Livros Por Autor
        </div>
        
    </mat-toolbar>

    <div class="footer"></div>

</div>