<div class="modal">
  <h1 class="modal-title" mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    {{title}}
    <a class="cancelIcon" mat-button form="none" (click)="close()">
      <mat-icon>close</mat-icon>
    </a>
  </h1>
  <div class="content">
    
    <form class="form" fxLayout="column" [formGroup]="livrosForm">
        
      <h3>Gerenciar o Livro na sua lista</h3>

      <div fxLayout="row">
        <mat-form-field fxFlex="100" class="example-full-width" appearance="outline">
          <mat-label>Situação do Livro</mat-label>
          <mat-select formControlName="idStatus" #singleSelect>
            <mat-option *ngIf="action == 'update'" value="R">
              Remover da lista
            </mat-option>
            <mat-option *ngFor="let i of status" [value]="i.id">
              {{i.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field> 
      </div>
      
      <input type="hidden" formControlName="idLista">
      <input type="hidden" formControlName="idLivro">

      <div class="buttons" fxLayout="row" fxLayoutAlign="end center">
        <button class="cancel" mat-stroked-button form="none" (click)="close()">Cancelar</button>
        <button class="confirm" mat-raised-button (click)="submit()">Confirmar</button>
      </div>
  
    </form>
    
  </div>
      
</div>


