.body{
    height: 100%;
}

.button{
    margin-top: 20px;

    .butonEmprestimo{
        margin-top: 25px;
        min-width: 150px;
        background-color:  #7ba0e6;
        color:white;
    }
}

.line-S{
    background-color: #7cb0ff;
}

.line-E{
    background-color: #f0ff9a;
}

.ATR{
    background-color: #ff9a9a;
}

.line-D{
    background-color: #9affa2;
}

.legenda{
    margin-bottom: 20px;
}

.item-legenda{
    display: flex;
    align-items: center;
    margin-right: 10px;
    
    .solicitado{
        color: #7cb0ff;
    }

    .emprestado{
        color: #f0ff9a;
    }

    .atrasado{
        color: #ff9a9a;
    }

    .devolvido{
        color: #9affa2;
    }
}

.tableButton{
    min-width: 35px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.footer{
    height: 50px;
}

.row{
    padding-top: 20px;

    img{
        padding: 10px;
    }
}

table{
    width: 100%;
}