<div class="body">
    <h1>Empréstimos</h1>

    <div class="legenda" fxLayout="row">
      <div class="item-legenda">
        <mat-icon class="solicitado">square</mat-icon>
        Solicitado
      </div>

      <div class="item-legenda">
        <mat-icon class="emprestado">square</mat-icon>
        Emprestado
      </div>

      <div class="item-legenda">
        <mat-icon class="atrasado">square</mat-icon>
        Atrasado
      </div>

      <div class="item-legenda">
        <mat-icon class="devolvido">square</mat-icon>
        Devolvido
      </div>
    </div>

    <mat-divider></mat-divider>
    
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> Id </mat-header-cell>
        <mat-cell class="line-{{element.estado}} {{element.diasEmprestimo}}" *matCellDef="let element" fxFlex="10"> {{element.id}} </mat-cell>
      </ng-container>
      <!-- Usuario Column -->
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef fxFlex="20" mat-sort-header> Usuario </mat-header-cell>
        <mat-cell class="line-{{element.estado}} {{element.diasEmprestimo}}" *matCellDef="let element" fxFlex="20"> {{element.nome}} </mat-cell>
      </ng-container>
      <!-- Livro Column -->
      <ng-container matColumnDef="livro">
        <mat-header-cell *matHeaderCellDef fxFlex="30" mat-sort-header> Livro </mat-header-cell>
        <mat-cell class="line-{{element.estado}} {{element.diasEmprestimo}}" *matCellDef="let element" fxFlex="30"> {{element.titulo}} Vol. {{element.volume}} </mat-cell>
      </ng-container>
      <!-- Data Emprestimo Column -->
      <ng-container matColumnDef="dataEmprestimo">
        <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> Empréstimo </mat-header-cell>
        <mat-cell class="line-{{element.estado}} {{element.diasEmprestimo}}" *matCellDef="let element" fxFlex="15"> {{formatDate(element.dataEmprestimo)}} </mat-cell>
      </ng-container>
      <!-- Data Emprestimo Column -->
      <ng-container matColumnDef="dataDevolucao">
        <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> Devolução </mat-header-cell>
        <mat-cell class="line-{{element.estado}} {{element.diasEmprestimo}}" *matCellDef="let element" fxFlex="15"> {{formatDate(element.dataDevolucao)}} </mat-cell>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell class="centerColumn" *matHeaderCellDef fxFlex="10" fxLayoutAlign="center center"> Ações </mat-header-cell>
        <mat-cell class="line-{{element.estado}} {{element.diasEmprestimo}}" class="centerColumn" *matCellDef="let element" fxFlex="10" fxLayoutAlign="center center">
          
          <button class="tableButton" (click)="aprovaEmprestimo(element.id)" 
                  mat-button [disabled]="element.estado == 'D' || element.estado == 'E'">
              <mat-icon>done_outline</mat-icon>
          </button>
          <button class="tableButton" (click)="recusaEmprestimo(element.id)" 
                  mat-button [disabled]="element.estado == 'D' || element.estado == 'E'">
              <mat-icon>close</mat-icon>
          </button>
          <button class="tableButton" (click)="devolverLivro(element.id)" 
                  mat-button [disabled]="element.estado == 'D'">
              <mat-icon>assignment_turned_in</mat-icon>
          </button>
          </mat-cell>
      </ng-container>
      <mat-header-row @rowsAnimation *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row @rowsAnimation *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator  [pageSizeOptions]="[5, 10]"
                    showFirstLastButtons >
    </mat-paginator>

    <mat-divider></mat-divider>

    <div class="button" fxLayout="row" fxLayoutAlign="end end">
      <button class="butonEmprestimo" (click)="emprestimoDireto()" mat-button>
          Empréstimo Direto
      </button>
    </div>

    <div class="footer"></div>

</div>