<div class="body">
    <h1>Empréstimos</h1>
    <mat-divider></mat-divider>
    
    <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef fxFlex="20" mat-sort-header> Id </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="20"> {{element.id}} </mat-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <mat-header-cell *matHeaderCellDef fxFlex="50" mat-sort-header> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="50"> {{element.nome}} </mat-cell>
      </ng-container>
      <!-- Action Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell class="centerColumn" *matHeaderCellDef fxFlex="30" fxLayoutAlign="center center"> Ações </mat-header-cell>
        <mat-cell class="centerColumn" *matCellDef="let element" fxFlex="30" fxLayoutAlign="center center">
          
          <button class="tableButton" mat-button>
              <mat-icon>edit</mat-icon>
          </button>
          <button class="tableButton" mat-button>
              <mat-icon>delete</mat-icon>
          </button>
          </mat-cell>
      </ng-container>
      <mat-header-row @rowsAnimation *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row @rowsAnimation *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
      <mat-paginator  [pageSizeOptions]="[5, 10]"
                      showFirstLastButtons >
      </mat-paginator>

    <div class="footer"></div>

</div>