.body{
    padding-left: 50px;
    padding-right: 50px; 
    overflow:auto;
    height: 100%;
}

.capa{
    margin-right: 20px;
    margin-bottom: 20px;
}

.chart{
    max-width: 400px;
    max-height: 250px;
}