.statistics{
    margin-right: 10px;
}

.footer{
    height: 50px;
}

.btListaCompleta{
    max-width:min-content;
    margin-top: 10px;
    background-color:  #7ba0e6;
    color:white;
}

.capa{
    margin-right: 20px;
    margin-bottom: 20px;
}

.chart{
    max-width: 400px;
    max-height: 250px;
}