<div class="body">
    <h1>User's profile</h1>
    <mat-divider></mat-divider>
    <div class="content" fxLayout="column">
        <div class="statistics" fxLayout="column">
            <h2>Estatísticas</h2>
            <div fxLayout="row wrap">
                <canvas class="chart" id="stats" width="2" height="1"></canvas>
                <canvas class="chart" id="stats3" width="2" height="1"></canvas>
                <canvas class="chart" id="stats2" width="2" height="1"></canvas>
            </div>
            
        </div>
        <div class="statistics" fxLayout="column">
            <h2>Histórico</h2>
            <div fxLayout="row wrap">
                <img class="capa" src="img_girl.jpg" width="150" height="200">
                <img class="capa" src="img_girl.jpg" width="150" height="200">
                <img class="capa" src="img_girl.jpg" width="150" height="200">
            </div>
        </div>
    </div>

    <div class="footer"></div>

</div>