<div class="body">
    <h1>{{nome}}'s profile</h1>
    <mat-divider></mat-divider>
    <div class="content" fxLayout="column">
        <div class="statistics" fxLayout="column">
            <h2>Estatísticas</h2>
            
            <button class="btListaCompleta" mat-button>
                Ver Lista Completa
            </button>

            <div fxLayout="row wrap">

                <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="40">
                    <h3>Lista de Leitura</h3>
                    <canvas class="chart" id="listaLeitura" width="2" height="1"></canvas>
                </div>
                
                <div fxLayout="column" fxLayoutAlign="space-around center" fxFlex="40">
                    <h3>Livros por Gênero</h3>
                    <canvas class="chart" id="listaGenero" width="2" height="1"></canvas>
                </div>

            </div>
            
        </div>
        <div class="statistics" fxLayout="column">
            <h2>Histórico</h2>
            <div fxLayout="row wrap">
                <img class="capa" src="img_girl.jpg" width="150" height="200">
                <img class="capa" src="img_girl.jpg" width="150" height="200">
                <img class="capa" src="img_girl.jpg" width="150" height="200">
            </div>
        </div>
    </div>

    <div class="footer"></div>

</div>