.body{
    padding-left: 50px;
    padding-right: 50px; 
    overflow:auto;
    height: 100%;
}

.statistics{
    margin-right: 10px;
}

.capa{
    margin-right: 20px;
    margin-bottom: 20px;
}

.chart{
    max-width: 400px;
    max-height: 250px;
}

//SCROLLBAR
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:none; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }