<mat-drawer-container class="example-container" autosize>
  
    <mat-drawer #drawer class="example-sidenav" mode="over">
    </mat-drawer>
  
    <div class="main">
  
      <mat-toolbar class="toolbar" color="primary">
  
        <div>
          <button mat-icon-button class="example-icon" 
                (click)="drawer.toggle()"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
          </button>
          <span>SilverFish</span>
        </div>
        
        <mat-form-field style="height: 80%;">
          <input matInput placeholder="Pesquisar">
        </mat-form-field>
  
      </mat-toolbar>
  
      <router-outlet></router-outlet>
      
    </div>
  
  </mat-drawer-container>