<div class="modal">

  <h1 class="modal-title" mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    {{title}}
    <a class="cancelIcon" mat-button form="none" (click)="close()">
      <mat-icon>close</mat-icon>
    </a>
  </h1>
  
  <div *ngIf="action != 'delete'" class="content">
      
      <form class="form" fxLayout="column" [formGroup]="livrosForm">
        
        <div fxLayout="row">
          <mat-form-field fxFlex="100" class="example-full-width" appearance="outline">
            <mat-label>Título</mat-label>
            <input matInput required formControlName="titulo">
            <mat-error>Título é obrigatório</mat-error>
          </mat-form-field> 
        </div>
    
        <div fxLayout="row">
          <mat-form-field fxFlex="33" class="example-full-width" appearance="outline">
            <mat-label>ISBN</mat-label>
            <input matInput required formControlName="isbn">
            <mat-error>ISBN é obrigatório</mat-error>
          </mat-form-field> 
    
          <mat-form-field fxFlex="33" class="example-full-width" appearance="outline">
            <mat-label>Gênero</mat-label>
            <input matInput required formControlName="idGenero">
            <mat-error>Gênero é obrigatório</mat-error>
          </mat-form-field> 
    
          <mat-form-field fxFlex="33" class="example-full-width" appearance="outline">
            <mat-label>Editora</mat-label>
            <input matInput required formControlName="idEditora">
            <mat-error>Editora é obrigatório</mat-error>
          </mat-form-field> 
        </div>
    
        <div fxLayout="row">
          <mat-form-field fxFlex="33" class="example-full-width" appearance="outline">
            <mat-label>Volume</mat-label>
            <input matInput required formControlName="volume">
    
          </mat-form-field> 
    
          <mat-form-field fxFlex="33" class="example-full-width" appearance="outline">
            <mat-label>Ano</mat-label>
            <input matInput required formControlName="ano">
    
          </mat-form-field> 
    
          <mat-form-field fxFlex="33" class="example-full-width" appearance="outline">
            <mat-label>Edição</mat-label>
            <input matInput required formControlName="edicao">
    
          </mat-form-field> 
        </div>
    
        <div fxLayout="row">
          <mat-form-field fxFlex="33" class="example-full-width" appearance="outline">
            <mat-label>Palavra Chave 1</mat-label>
            <input matInput required formControlName="palavraChave1">
    
          </mat-form-field> 
    
          <mat-form-field fxFlex="33" class="example-full-width" appearance="outline">
            <mat-label>Palavra Chave 2</mat-label>
            <input matInput required formControlName="palavraChave2">
    
          </mat-form-field> 
    
          <mat-form-field fxFlex="33" class="example-full-width" appearance="outline">
            <mat-label>Palavra Chave 3</mat-label>
            <input matInput required formControlName="palavraChave3">
    
          </mat-form-field> 
        </div>
    
        <div fxLayout="row">
          <mat-form-field fxFlex="100" class="example-full-width" appearance="outline">
            <mat-label>Descrição</mat-label>
            <textarea matInput required formControlName="descricao"></textarea>
            <mat-error>Descrição é obrigatório</mat-error>
          </mat-form-field> 
        </div>

        <div fxLayout="column">
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let autor of autores">
              {{autor.nome}}
              <button class="tableButton" form="none" mat-button>
                  <mat-icon>delete</mat-icon>
              </button>
              
            </mat-list-item>
          </mat-list>
          <button class="addButton" mat-raised-button form="none" (click)="openDialogLivro('create', null)">
            Adicionar um autor
          </button>
        </div>
    
        <div class="buttons" fxLayout="row" fxLayoutAlign="end center">
          <button class="cancel" mat-stroked-button form="none" (click)="close()">Cancelar</button>
          <button class="confirm" mat-raised-button (click)="submit()">Salvar</button>
        </div>
    
      </form>
    
  </div>
  
  <div *ngIf="action == 'delete'" class="content">
      
      <h3>Tem certeza que deseja deletar o livro {{data.titulo}} ?</h3>
    
        <div class="buttons" fxLayout="row" fxLayoutAlign="end center">
          <button class="cancel" mat-stroked-button form="none" (click)="close()">Cancelar</button>
          <button class="confirm" mat-raised-button (click)="delete()">Salvar</button>
        </div>
    
  </div>

</div>

    

