<div class="body">
    <mat-card class="menu">
        <mat-card-content>

            <h1>SilverFish</h1>

            <form class="auth" fxLayout="column">

                <div fxLayout="row">

                    <mat-form-field fxFlex="100" class="formField" appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input matInput required>
                        <mat-error>Nome é obrigatório</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row">

                    <mat-form-field fxFlex="100" class="formField full" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput required>
                        <mat-error>Email é obrigatório</mat-error>
                    </mat-form-field> 
    
                    <mat-form-field fxFlex="100" class="formField" appearance="outline">
                        <mat-label>Login</mat-label>
                        <input matInput required>
                        <mat-error>Login é obrigatório</mat-error>
                    </mat-form-field> 

                </div>

                <div fxLayout="row">

                    <mat-form-field fxFlex="100" class="formField" appearance="outline">
                        <mat-label>Senha</mat-label>
                        <input matInput required>
                        <mat-error>Senha é obrigatório</mat-error>
                    </mat-form-field> 
    
                    <mat-form-field fxFlex="100" class="formField" appearance="outline">
                        <mat-label>Digite a Senha novamente</mat-label>
                        <input matInput required>
                        <mat-error>Senha é obrigatório</mat-error>
                    </mat-form-field> 

                </div>

                <div class="buttons" fxLayout="row" fxLayoutAlign="space-evenly center"> 

                    <a button class="back" routerLink="/auth/login" fxFlex="100"
                        mat-stroked-button color="primary" form="none">
                        Voltar
                    </a>

                    <button class="ok" fxFlex="100" 
                            mat-raised-button color="primary">
                        Cadastrar
                    </button>
                </div>

            </form>

        </mat-card-content>
    </mat-card>
</div>
    
