<div class="body">
    <h1>Recomendações para você</h1>
    <mat-divider></mat-divider>
    <div class="row" fxLayout="row wrap">
        <img class="capa" src="img_girl.jpg" width="150" height="200">
        <img class="capa" src="img_girl.jpg" width="150" height="200">
        <img class="capa" src="img_girl.jpg" width="150" height="200">
    </div>

    <h1>Você está lendo</h1>
    <mat-divider></mat-divider>
    <div class="row" fxLayout="row wrap">
        <img class="capa" src="img_girl.jpg" width="150" height="200">
        <img class="capa" src="img_girl.jpg" width="150" height="200">
        <img class="capa" src="img_girl.jpg" width="150" height="200">
    </div>

    <h1>Últimos livros</h1>
    <mat-divider></mat-divider>
    <div class="row" fxLayout="row wrap">
        <img class="capa" src="img_girl.jpg" width="150" height="200">
        <img class="capa" src="img_girl.jpg" width="150" height="200">
        <img class="capa" src="img_girl.jpg" width="150" height="200">
    </div>

    <div class="footer"></div>

</div>