.body{
    height: 100%;
}

.footer{
    height: 50px;
}

.capa{
    transition: transform .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;

    p{
        margin: 0px;
        max-width: 140px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

mat-chip-list {
    width: -webkit-fill-available;
    padding-left: 15px;
}

.capa:hover{
    cursor: pointer;
    transform: scale(1.2);
}

::ng-deep .mat-tooltip {
    word-break: break-all;
    text-align: center;
    width: 170px;
}

.row{
    padding-top: 20px;

    img{
        padding-left: 10px;
        padding-right: 10px;
    }
}