<div class="body">

    <!-- Modificações futuras planejadas -->

    <!-- <h1>Recomendações para você</h1>
    <mat-divider></mat-divider>
    <div class="row" fxLayout="row wrap">
        <a href="" class="capa" href="/pages/detalhes?id={{id}}" matTooltip="Nome do livro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa">
            <img src="{{fontesCapa+endpointCapa}}"  
                width="150" height="200">
            <mat-chip-list aria-label="Fish selection">
                <mat-chip class="chipLido">Lido</mat-chip>
            </mat-chip-list>
            <p>Nome do livro aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </a> 
        <a href="" class="capa" matTooltip="Nome do livro BEBE">
            <img src="{{fontesCapa+endpointCapa}}" width="150" height="200">
            <mat-chip-list aria-label="Fish selection">
                <mat-chip class="chipLendo">Lendo</mat-chip>
            </mat-chip-list>
            <p>Nome do livro BEBE</p>
        </a> 
        <a href="">
            <img class="capa" src="{{fontesCapa+endpointCapa}}" width="150" height="200">
        </a> 
    </div> -->

    <h1>Você está lendo</h1>
    <mat-divider></mat-divider>
    <div class="row" fxLayout="row wrap">
        <div *ngFor="let book of livros">
            <a href="" class="capa" href="/pages/detalhes?id={{book.id}}" matTooltip="{{book.titulo}}">
                <img src="../../../assets/img/BookRed.png" width="150" height="200">
                <p>{{book.titulo}}</p>
            </a>
        </div>
    </div>

    <h1>Últimos livros</h1>
    <mat-divider></mat-divider>
    <div class="row" fxLayout="row wrap">
        <div *ngFor="let book of lastBooks">
            <a href="" class="capa" href="/pages/detalhes?id={{book.id}}" matTooltip="{{book.titulo}}">
                <img src="../../../assets/img/BookRed.png" width="150" height="200">
                <mat-chip-list *ngIf="book.status" aria-label="Fish selection">
                    <mat-chip style="background-color: {{book.cor}};">{{book.status}}</mat-chip>
                </mat-chip-list>
                <p>{{book.titulo}}</p>
            </a>
        </div>
    </div>

    <div class="footer"></div>

</div>