<div class="body">
    <mat-card class="menu">
        <mat-card-content>

            <img src="../../../assets/img/sf_logo.png" width="75" height="75">
            <h1>SilverFish</h1>

            <form class="auth" [formGroup]="recover" fxLayout="column">

                <div fxLayout="row">

                    <mat-form-field fxFlex="100" class="formField" appearance="outline">
                        <mat-label>Insira seu login</mat-label>
                        <input formControlName="login" matInput required>
                        <mat-error>Login é obrigatório</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row">

                    <mat-form-field fxFlex="100" class="formField" appearance="outline">
                        <mat-label>Insira seu email</mat-label>
                        <input formControlName="email" matInput required>
                        <mat-error>Email inválido</mat-error>
                    </mat-form-field>

                </div>

                <div class="buttons" fxLayout="row" fxLayoutAlign="space-evenly center"> 

                    <button class="invalid-{{recover.invalid}}" fxFlex="100" [disabled]="recover.invalid"
                            mat-raised-button color="primary" (click)="recovery()">
                        Cadastrar
                    </button>
                </div>

            </form>

        </mat-card-content>
    </mat-card>
</div>
    
